html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.main-header {
    background-color: rgba(0, 0, 0, .3);
    padding-bottom: 10px;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 3.5em;
    font-family: "DM Sans", sans-serif;
    padding-top: 25px;
    font-weight: normal;
    color: yellow;
}

#card-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.subtitle {
    text-align: center;
    font-weight: normal;
    color: yellow;
    font-size: 1.75em;
    font-family: "DM Sans", sans-serif;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.card-content {
    padding: 20px;
    font-family: "Verdana";
    color: #777;
}


.card-content h2 {
    margin-top: 0;
    font-size: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    background-color:  rgb(0, 0, 0);
    padding: 10px;
}

button {
    text-align: center;
    background-color: black;
    border: none;
    font-family: "DM Sans", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    color: yellow;
    font-size: 22px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid yellow;
}


button:hover {
    background-color: yellow;
    color: black;
}